#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer {
  margin-top: auto;
}

main {
  height: 100%;
}

#column::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--nextui-colors-backgroundContrast);
}

::-webkit-scrollbar-thumb {
  background: var(--nextui--cardColor);
  border: 1px solid var(--nextui-colors-border);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#switch-mode > div[aria-checked='true'] {
  background: var(--nextui-colors-backgroundContrast);
}
