#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: auto;
}

footer {
  margin-top: auto;
}

#column::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--nextui-colors-backgroundContrast);
}

::-webkit-scrollbar-thumb {
  background: var(--nextui--cardColor);
  border: 1px solid var(--nextui-colors-border);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#switch-mode > div[aria-checked='true'] {
  background: var(--nextui-colors-backgroundContrast);
}

@media screen and (max-width: 1280px) {
  #grid-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #create-table {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (max-width: 960px) {
  #grid-columns {
    display: flex;
    flex-direction: column;
  }
}

#grid-columns > div,
#create-table > div,
header > div,
main > div,
footer > div {
  max-width: 100% !important;
  width: 100% !important;
}
